<ion-header>
  <ion-toolbar>
    <ion-title>
      Arbor Greene Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  Welcome to Home Page!

  Check my stuff: {{dateTimeMmessage}}

  <ion-item>
  <ion-input required type="text" placeholder="Username"></ion-input>
  </ion-item>
  <ion-item>
  <ion-input required type="password" placeholder="Password"></ion-input>
  </ion-item>
  <br />
  <ion-button [routerLink]="['/ContactListPage']">Login</ion-button>
  <br />
  <ion-button [routerLink]="['/temp']">Temp</ion-button>

</ion-content>
