* {
  font-family: "Times New Roman", Times, serif;
  background-color: #F5F5F5;
}

.bold {
  font-weight: bold;
}

.transparent {
  background-color: white;
}

.grid-full  {
  height: 100%;
  padding: 0px;    
  border: solid rgb(10, 1, 26);
}

.leftColumn{
  width: 70%;
  border: solid rgb(250, 115, 4);
}

.rightColumn{
  width: 30%;
  border: solid rgb(113, 6, 253);
}

.header1 {
    font-size: 14px;
    font-weight: bold;
}

.border {
   border: solid rgb(10, 1, 26);
   border-radius: 5px;
   padding: 5px;
}

.bottomborder {
  border-bottom: solid black;

}

.rightborder {
  border-right: solid black;
}

.leftborder {
  border-left: solid black;
}

.col img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
}

.techname{
 color: darkblue;
 font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
  font-size: 20px;
}

.container img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

