<ion-header>
    <ion-toolbar>
        <ion-title>ContactListPage</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item [href]="'/tech-details/' + tech.id" detail="true" *ngFor="let tech of techList">
            <ion-card>
                <ion-card-header>
                    <mark><b>{{tech.name}}</b></mark>
                </ion-card-header>
                <ion-card-content>
                    {{tech.location}} <br />
                    {{tech.role}} <br />
                    {{tech.phone}}
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
